/* Police */

@font-face {
font-family: Raleway;
src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: Raleway;
    font-weight: bold;
    src: url("../fonts/Raleway-Bold.ttf");
}


body {
    padding: 0px;
    margin: 0px;
    font-family: Raleway;
}


    /* Barre de navigation */


.container_nav {
    display: flex;
    align-content: flex-start;
    width: 100%;
}  

.img_reservia {
    width: 50px;
}

ul {
    margin-block-start: 0px;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    text-decoration: none;
    list-style-type: none;
    padding-right: 80px;
    flex-grow: 1;
}

li {
    padding-top: 50px;
}

.hosting_nav {
    border-top: 2px solid #0065FC;
}

    .singin_nav {
    padding-left: 70px;
}

.activity_nav {
    padding-left: 70px;
}


    /* Header */
header {
    margin-left: 20px;
    margin-right: 20px;
}

/* Champ de recherche */
.container_search {
    display: flex;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
    height: 50px;
}  

.search_loc {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    width: 15%;
    height: 100%;
}


.img_loc {
    height: 10px;
    width: auto;
    
}

.search_input {
    background-color: coral;
}


.search_input::placeholder {
    font-family: "ralewaythin";
    color: black;
    font-weight: bold;
}

.search_recherche {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065FC;
    color: white;
    width: 18%;
    height: 100%;
} 

.text_hidden {
    display: none;
}

.img_hidden {
    height: 20px;
    width: auto;
}

.fas {
    width: 100px;
    height: 100px;
}

.fa-bone {
    width: 100px;
    height: 100px;
}


/* Filtre */
.container_filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.filter_title {
    font-weight: 900;
    margin-left: 10px;
}

.filter_content {
    display: flex;
    flex-wrap: wrap;
}

.filter_logo {
    height: 50px;
    width: 50px;
    background-color: #DEEBFF;
    border: none;
    border-radius: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    background-color: white;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 50px;
    height: 50px;
    display: flex;
    align-items: center;

}

.text_filter {
    font-weight: 300;
    font-size: 10px;
}


.img_filter {
    height: 20px;
}


/* Information */

.container_info {
    display: flex;
    align-items: center;

}

.container_info_img {
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;


}

.info_img {
    height: 12px;
    width: auto;
}

.info_text {
    padding-left: 12px;
}


    /* Corps de page */

main {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
}

    /* Hébergement à Marseille (section principale) */

.star {
    height: 12px;
    width: auto;
}

.section_1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 65px;
    width: 100%;
    overflow: hidden;
}

.section_hosting {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    width: 100%;;
}

h4 {
    display: block;
    margin-block-end: 0px;
    margin-top: 5px;
}

.hosting_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

}

.card {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 200px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 20px #d1d1d1;
    margin-bottom: 25px;
    padding: 5px;
}

.hosting_img_span {
    background-image: url("../img/medium/marcus-loke.jpg");
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 115px;
    margin-bottom: 12px;
}

.img_card {
    margin-bottom: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3 {
    display: block;
    margin-block-start: 0px;
    margin-bottom: 8px;
}

.price {
    display: block;
    margin-block-start: 0px;
    margin-bottom: 6px;
}

.container_stars {
    margin-top: 0px;
}

/* Aside, les plus populaires */
.img_graph {
    width: 22px;
    height: 18px;
}

.img_card_aside {
    width: 40%;
    height: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

aside {
    background-color: #F2F2F2;
    height: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;

}

.aside_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0px;
}

.all_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.card_aside {
    display: flex;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 20px #d1d1d1;
    background-color: coral;
}

.aside_column {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 20px;
}

.container_stars {
    display: flex;
    flex-wrap: nowrap;
}

.h_aside {
    display: block;
    margin-block-start: 15px;
}


/* Activités à Marseille */

.section_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity {
    display: flex;
    justify-content: space-between;
    height: 500px;
    width: 100%;
}

.all_card_activity {
    display: flex;
    justify-content: space-between;
    width: 48.5%;
    height: 100%;
}

.big_card{
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 20px #d1d1d1;
    overflow: hidden;
    height: 100%;
    width: 47%;
}

.img_big_card {
    height: 90%;
    width: auto;
}

.big_card_span_img_1 {
    height: 90%;
    background-image: url("../img/reno-laithienne.jpg");
    background-size: cover;
}

.big_card_span_img_2 {
    height: 90%;
    background-image: url("../img/kilyan-sockalingum.jpg");
    background-size: cover;
}

.h3_activity {
    margin-bottom: 0px;
    padding-top: 13px;
    padding-left: 10px;
}

.small_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 47%;

}

.lonely_small_card {
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    box-shadow: 5px 5px 20px #d1d1d1;
    height: 47%;
}

.img_small_card {
    height: 79%;
    width: 100%;
}



/* Pied de page */

footer {
    height: 218px;
    margin-top: 115px;
    background-color: #F2F2F2;
    display: flex;
    display: none;


}

.container_footer_1 {
    margin-left: 50px;
    margin-top: 50px;
}

.container_footer_2 {
    margin-left: 227px;
    margin-top: 50px;
}

.container_footer_3 {
    margin-top: 50px;
    margin-left: 290px;
}

.h3_footer {
    font-weight: 900;
}