  /* Police */
  
@font-face {
 font-family: "ralewaythin";
 src: url("../fonts/raleway-webfont.woff2") format("woff2"), url("fonts/raleway-webfont.woff") format("woff");
 font-weight: normal;
 font-style: normal;
}


body {
    padding: 0px;
    margin: 0px;
}

  /* Nav barre */

.container_nav {
    display: flex;
    width: 100%;
}  

.img_reservia {
    width: 94px;
    height: auto;
    padding-left: 50px;
    padding-top: 50px;
}

ul {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    list-style-type: none;
    padding-right: 80px;
    padding-top: 50px;
    flex-grow: 1;
}

.singin_nav {
    padding-left: 70px;
}

.activity_nav {
    padding-left: 70px;
}


  /* Header */


/* Champ de recherche */
header {
    margin-left: 50px;
    margin-right: 50px;
}

.container_search {
    display: flex;
    ;
}  

.search_loc {
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
}


.img_loc {
    height: 20px;
    width: auto;
}

.search_input {
    border-left: none;
    border-right: none;
    border: 1px solid #F2F2F2;
    width: 235px;
}

.search_input::placeholder {
    font-family: "ralewaythin";
    color: black;
    font-size: larger;
    font-weight: bold;
}

.search_recherche {
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    width: 135px;
    height: 50px;
} 

.fas {
    width: 100px;
    height: 100px;
}

.fa-bone {
    width: 100px;
    height: 100px;
}


/* Filtre */
.container_filter {
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

.filter_title {
    font-weight: 900;
    font-size: 1.15em;
}

.filter_content {
    margin-left: 30px;
    display: flex;
    
}

.filter_logo {
    height: 51px;
    width: 51px;
    background-color: #DEEBFF;
    border: none;
    border-radius: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    margin-right: 25px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-radius: 50px;
    height: 49px;
    display: flex;
    align-items: center;

}

.text_filter {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}




.img_filter {
    height: 20px;
}


/* Information */

.container_info {
    display: flex;
    align-items: center;

}

.container_info_img {
    border: 1px solid #F2F2F2;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    width: 23px;


}

.info_img {
    height: 12px;
    width: auto;
}

.info_text {
    padding-left: 12px;
}


  /* Corps de page */

main {
    display: flex;
}

  /* Hébergement à Marseille (section principale) */

.star {
    height: 12px;
    width: auto;
}

.section_1 {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}

.section_hosting {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 46px;
    padding-bottom: 46px;
    margin-right: 40px;
}

.hosting_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-direction: column;
    width: 245px;
    height: 200px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 25px;
    padding: 5px;
    box-shadow: 5px 5px 10px #d1d1d1;
}

.img_card {
    height: 115px;
    width: auto;
    margin-bottom: 12px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

h3 {
    display: block;
    margin-block-start: 0px;
    margin-bottom: 8px;
}

.price {
    display: block;
    margin-block-start: 0px;
    margin-bottom: 6px;
}

/* Aside, les plus populaires */
.img_graph {
    width: 22px;
    height: 18px;
}

.img_card_aside {
    width: 127px;
    height: 134px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

aside {
    background-color: #F2F2F2;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    border-radius: 20px 20px 20px 20px;

}

.aside_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.card_aside {
    display: flex;
    width: 343px;
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    padding: 5px;
}

.margin_card {
    margin-bottom: 30px;
}

.aside_column {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;
}

.container_stars {
    margin-top: 45px;
}

.h_aside {
    display: block;
    margin-block-start: 15px;
}



